
/* Responsavel pelo container PAI*/
.people-container {
    display: flex;
    flex-direction: column;  
}

/* Responsavel pela barra de pesquisa */
.search-person {
    display: flex;
    flex-direction: row;
}

.css-4302v8 {
    max-width: 88%;
    margin-bottom: 8px;

}

.search-person-input.css-18g31kk{
    background: #F8F8F8;
    border: none;
}

.css-18g31kk:focus {
    background-color: #23222213;
    border: none;
    box-shadow: none !important;
    transition: 300ms;
}

.PeopleListBox::-webkit-scrollbar {
    width: 12px;
}
  
.PeopleListBox::-webkit-scrollbar-track {
    background: transparent;  
    border-radius: 20px;
}
  
.PeopleListBox::-webkit-scrollbar-thumb {
    background-color: #23222236;
    border-radius: 20px;
}
    
.PeopleListBox::-webkit-scrollbar-thumb:hover {
    background-color: #23222257;
    transition: 200ms;
}

.add-task-container{
    margin: 15px 0;
    width: 100%;
    display: flex;
}

.add-task-button-container {
    margin-left:10px;
    flex: 1;
}

/* Aqui está o .map de pessoas */

.PeopleListBox{
    width: 22vw;
    height: 45vh;      
    overflow: auto;

    margin-bottom: 30px;
}

.members-length {
    font-size: 12px;
    margin-bottom: 20px;
    color: #23222299;
    padding-left: 2px;
}