.login-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;

  .informative-wrapper {
    display: flex;
    flex: 8;
    flex-direction: column;
    background-color: white;
    width:50%;
    
    .informative {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .imgLogo {
      margin-top: 5%;
      margin-left: 7.5%;  
      margin-bottom: 15%;
      height: auto;
      width: 25%;
    }
    
    .imgIcons {
      width: 60vh;
    }
  }
}

.form-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 7;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;

  h2 {
    font-size: 1.2rem;
    margin-bottom: 6px;
  }
  
  p {
    font-size: 0.9rem;
    margin-bottom: 45px;
  }
  .login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: -10%;
    input {
      background-color: #efefef;
      width: 100%;
      border: none;
      border-radius: 5px;
      box-shadow: 2px 3px rgb(214, 209, 209);
      padding: 12px;
      &:focus {
        outline: none;
        text-decoration: underline;
      }
    }
    button {
      background-color: #D70858;
      color: #fff;
      height: 20%;
      width: 50%;
      margin: auto;
      margin-top: 25px;
      padding: 5px 12px;
      border: none;
      border-radius: 5px;
      box-shadow: 2px 3px #efefef;
      cursor: pointer;
      transition: 0.5s;

      &:hover {
        background-color: #D70858;
      }
    }
  }
}

.imgIconsMobile {
  display: none;
  height: 0%;
  width: 0%;
}

.cadastre-se {
  visibility: hidden;
}
.cadastre-se-G {
  width: 100%;
  text-align: center;
}
.cadastre-se-G > span , a{
  font-weight: 700;
  font-size: 0.8rem;
  margin: 0;
}


@media screen and (min-width: 1440px) {

  .login-container {
    
    .informative-wrapper {
      flex: 7;

      .imgLogo {
        margin-bottom: 15vh;
      }
      
      .imgIcons {
        width: 65vh;
      }
    }
  }

  .form-side {
    flex: 9;

    .cadastre-se-G {
      text-align: center;

      span {
        margin: 0;
        padding-right: 5px;
      }
    }
  }

}

@media screen and (max-width: 880px) {

  .login-container {
    
    .informative-wrapper {
      flex: 6;

      .imgLogo {
        width: 200px;
        margin-bottom: 15vh;
      }
      
      .imgIcons {
        height: auto;
        width: 60vh;
        margin-left: -100px;
      }
    }
  }

  .form-side {
    flex: 10;

    .login-wrapper {
      // margin-right: 20px;
    }

    .cadastre-se-G {
      text-align: center;

      span {
        margin: 0;
        padding-right: 5px;
      }
    }
  }

}

@media screen and (max-width: 719px) {

  .imgIcons {
    margin-left: -150px !important;
  }

}

@media screen and (max-width: 460px) {

  .login-container {
    display: flex;
    flex-direction: column;
    gap: 50px;

    .informative-wrapper {
      width: 100vw;
      display: flex;
      align-items: center;
      flex: 2;

      .imgLogo {
        margin: 0;
        margin-top: 30px;
      }
    }


    .login-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: auto;
      margin-top: 0;

      h2 {
        font-size: 18px;
        text-align: center;
      }

      p {
        font-size: 12px;
        color: #23222299;
      }

      .login-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: -4vh;

        input {
          background-color: #efefef;
          width: 100%;
          border: none;
          border-radius: 5px;
          box-shadow: 2px 3px rgb(214, 209, 209);
          padding: 12px;

          &:focus {
            outline: none;
            text-decoration: underline;
          }
        }

        button {
          background-color: #D70858;
          color: #fff;
          width: 50%;
          margin: auto;
          padding: 5px 12px;
          border: none;
          border-radius: 5px;
          box-shadow: 2px 3px #efefef;
          cursor: pointer;
          transition: 0.5s;
          &:hover {
            background-color: #D70858;
          }
        }
      }
    }
  }

  .imgLogo {
    margin-top: 5%;
    margin-left: 30%;
    justify-content:center;
    align-items:center;
    width: 40%;
    
    margin-bottom:-5%;
  }

  .login-wrapper {
    justify-content:center;
    align-items:center;
    width: 70%;
  }



  .imgIcons {
    display: none;
    height: 0%;
    width: 0%;
  }

  .imgIconsMobile {
    height: 270px;
    width: 280px;
    display: inline;
    margin-top: 40px;
    margin-right: 130px;
    
    img {
      height: 270px;
      width: 290px;
      object-fit: cover;
      object-position: 10% 0%;
    }
  }

  .login-wrapper > h1 {
    justify-content:center;
    align-items:center;
 }

.cadastre-se {
  margin-top: -15%;
  margin-left: 12.5%;
  width: 75%;
  display: flex;
  justify-content:column;
  align-items:center;
}

.cdLink{  
  margin-left: 35%;
}

.cadastre-se > span, a{
  font-size: 0.7rem;
  display: flex;
  justify-content:column;
  align-items:normal;
  }


}