
.theBestWrapper {
    width: 20vw;  
    margin-bottom: 50px;
    
}

.theBest {
    display:flex;
    align-items: center;
    justify-content: left;

    background-color: #FAFAFA;
    border-radius: 8px;

    width: 20vw;
    height: 45px;
    margin: 10px 0;
    padding-left: 24px;
}


p {
    margin-right: 12px;
}